/* Main Body */
@import url('https://fonts.googleapis.com/css?family=Arimo&subset=hebrew');
@page {
	margin-top: 0.5cm;
	margin-bottom: 0.5cm;
	margin-left: 0.5cm;
	margin-right: 0.5cm; 
}
/*  @font-face {
    font-family: 'SBL_Hbrw';
    font-style: normal;
    font-weight: normal;
    src: local('SBL_Hbrw'), local('SBL_Hbrw'), url(<?php echo $this->get_template_path(); ?>/fonts/SBL_Hbrw.ttf) format('truetype');
} */
body {
	font-family: 'Arimo', sans-serif;
	/* font-family: 'SBL_Hbrw'; */
	/* direction: ltr !important; */
	background: #fff;
	color: #000;
	margin: 0cm;
    margin-top: -0.5cm;
	/* want to use custom fonts? http://docs.wpovernight.com/woocommerce-pdf-invoices-packing-slips/using-custom-fonts/ */
	font-size: 11pt;
	line-height: 100%; /* fixes inherit dompdf bug */
}
body.packing-slip{
    font-size: 12pt;
}
body.packing-slip td.header img {
    display: block;
    margin: 0 auto;
}

/* body.invoice {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
}
body.packing-slip {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}
html{
	background: gray;
} */

h1, h2, h3, h4 {
	font-weight: bold;
	margin: 0;
}

h1 {
	font-size: 15pt;
	margin: 1mm 0;
}

h2 {
	font-size: 12pt;
}

h3, h4 {
	font-size: 10pt;
}


ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li,
ul {
	margin-bottom: 0.75em;
}

p {
	margin: 0;
	padding: 0;
}

p + p {
	margin-top: 1.25em;
}

a { 
	border-bottom: 1px solid; 
	text-decoration: none; 
}

/* Basic Table Styling */
table {
	border-collapse: collapse;
	border-spacing: 0;
	page-break-inside: always;
	border: 0;
	margin: 0;
	padding: 0;
}

th, td {
	vertical-align: top;
	text-align: left;
}

table.container {
	width:100%;
	border: 0;
}

tr.no-borders,
td.no-borders {
	border: 0 !important;
	border-top: 0 !important;
	border-bottom: 0 !important;
	padding: 0 !important;
	width: auto;
}

/* Header */
table.head {
	margin-bottom: 1mm;
}

td.header img {
	max-height: 2.6cm;
	/*width: auto;*/
}

td.header {
	font-size: 14pt;
	font-weight: 700;
}

td.shop-info {
	width: 40%;
    text-align: right;
    padding-top: 20px;
}

.document-type-label {
	text-transform: uppercase;
}

/* Recipient addressses & order data */
table.order-data-addresses {
	width: 100%;
	margin-bottom: 5mm;
}

td.order-data {
	width: 40%;
}

.invoice .shipping-address {
	width: 30%;
}

.packing-slip .billing-address {
	width: 30%;
}

td.order-data table th {
	font-weight: normal;
	padding-right: 2mm;
}

/* Order details */
table.order-details {
	width:100%;
	margin-bottom: 8mm;
}

.quantity,
.price {
	width: 20%;
}

.order-details tr {
	page-break-inside: always;
	page-break-after: auto;	
}

.order-details td,
.order-details th {
	border-bottom: 1px #ccc solid;
	border-top: 1px #ccc solid;
	padding: 0.375em;
}

.order-details th {
	font-weight: bold;
	text-align: left;
}

.order-details thead th {
	color: white;
	background-color: black;
	border-color: black;
}

/* product bundles compatibility */
.order-details tr.bundled-item td.product {
	padding-left: 5mm;
}

.order-details tr.product-bundle td,
.order-details tr.bundled-item td {
	border: 0;
}


/* item meta formatting for WC2.6 and older */
dl {
	margin: 4px 0;
}

dt, dd, dd p {
	display: inline;
	font-size: 10pt;
	line-height: 10pt;
}

dd {
	margin-left: 5px;
}

dd:after {
	content: "\A";
	white-space: pre;
}
/* item-meta formatting for WC3.0+ */
.wc-item-meta {
	margin: 4px 0;
	font-size: 10pt;
	line-height: 10pt;
}
.wc-item-meta p {
	display: inline;
}
.wc-item-meta li {
	margin: 0;
	margin-left: 5px;
}

/* Notes & Totals */
.customer-notes {
	margin-top: 5mm;
}

table.totals {
	width: 100%;
	margin-top: 5mm;
}

table.totals th,
table.totals td {
	border: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table.totals th.description,
table.totals td.price {
	width: 50%;
}

table.totals tr.order_total td,
table.totals tr.order_total th {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	font-weight: bold;
}

table.totals tr.payment_method {
	display: none;
}

/* Footer Imprint */
#footer {
	position: absolute;
	bottom: -2cm;
	left: 0;
	right: 0;
	height: 2cm; /* if you change the footer height, don't forget to change the bottom (=negative height) and the @page margin-bottom as well! */
	text-align: center;
	border-top: 0.1mm solid gray;
	margin-bottom: 0;
	padding-top: 2mm;
}

/* page numbers */
.pagenum:before {
	content: counter(page);
}
.pagenum,.pagecount {
	font-family: sans-serif;
}
img.card-image {
    width: 100px;
}
/* .shop-address {
    font-family: 'Arial';
    /* direction: rtl;*/
} */
small.shipped_via {
    display: none;
}
/* tr.payment-method td {
    font-family: 'Arial';
}
td.address.billing-address {
    font-family: 'Arial';
}
span.item-name {
    font-family: 'Arial';
} */
/*td.header {
    text-align: right;
}*/
.packing-slip .billing-address {
    width: 0;
}
.packing-slip td.order-data {
    width: 50%;
}
.packing-slip td.header {
    text-align: left;
}
.tracking-number{
	margin-bottom:20px;
}
.packing-slip tr.secrow td {
	padding: 7px;
	border: 1px solid gray;
}
.packing-slip td.shop-info {
    width: 70%;
}
td.image img {
    height: 50px;
    width: 50px;
}
.tracking-number img {
    width: 100%;
    max-width: 650px;
}
.packing-slip table {
    width: 100%;
    max-width: 550px;
}
.packing-slip .order-details * {
        font-size: 16pt;
    line-height: 1;
}
.packing-slip tr.secrow * {
    font-size: 16pt;
    line-height: 1;
}
td.header.shop-logo {
    text-align: left;
}